@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;  
}

.shadow-md{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.103);
}

.card{
    /* border: 1px solid yellow; */
}

.card-content p{
    color: rgb(117, 117, 117);
}

.select{
    width: 100%;
}