@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;  
}

.shadow-md{
    box-shadow: 0 4px 8px #0000001a;
}

.columns{
    /* margin-top: em; */
}

.card{
    border: 2px solid #46464625;
    height: 20em;
}

.card-content p{
    color: #757575;
}

.select{
    width: 100%;
}